<section id="sans" class="m-4">
    <h4>Open Sans (.msulib-sans)</h4>

    <div class="row">
        <div class="col-6">
            <p class="msulib-sans">Open Sans is a humanist sans serif typeface designed by Steve Matteson, Type Director of Ascender Corp. This version contains the complete 897 character set, which includes the standard ISO Latin 1, Latin CE, Greek and Cyrillic character sets. Open Sans was designed with an upright stress, open forms and a neutral, yet friendly appearance. It was optimized for print, web, and mobile interfaces, and has excellent legibility characteristics in its letterforms.</p>
        </div>
        <div class="col-6">
            <span class="display-1 msulib-sans">Aa</span>
            <div class="no-margin">
                <p class="msulib-sans">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
                <p class="msulib-sans">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                <p class="msulib-sans">0 1 2 3 4 5 6 7 8 9</p>
            </div>
        </div>
    </div>
</section>
<section id="serif" class="m-4">
    <h4>Lora (.msulib-serif)</h4>

    <div class="row">
        <div class="col-6">
            <p class="msulib-serif">Lora is a well-balanced contemporary serif with roots in calligraphy. It is a text typeface with moderate contrast well suited for body text.</p>
            <p class="msulib-serif">A paragraph set in Lora will make a memorable appearance because of its brushed curves in contrast with driving serifs. The overall typographic voice of Lora perfectly conveys the mood of a modern-day story, or an art essay.</p>
            <p class="msulib-serif">Technically Lora is optimised for screen appearance, and works equally well in print.</p>
        </div>
        <div class="col-6">
            <span class="display-1 msulib-serif">Aa</span>
            <div class="no-margin">
                <p class="msulib-serif">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
                <p class="msulib-serif">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                <p class="msulib-serif">0 1 2 3 4 5 6 7 8 9</p>
            </div>
        </div>
    </div>

</section>