<div class="alert alert-danger alert-dismissible fade show m-2" role="alert">
  <div><strong>
      <span class="fas fa-exclamation-triangle"> </span>
    {{title}}
  </strong></div>
  <div>{{text}}</div>
  <div><a class="btn btn-danger" href="#">{{button-text}}</a></div>
  <a href="#" role="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </a>
</div>