<nav aria-label="primary navigation">
  <ul id="menubar1" role="menubar">

      <li role="none">
        <a href="#" tabindex="0">Home</a>
      </li>

      <li role="none">
        <a role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" tabindex="0">Locations</a>
        <ul role="menu" aria-label="Locations">
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Libraries</a>
          </li>
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Museums and Galleries</a>
          </li>
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Centers and Service Areas</a>
          </li>
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Rooms</a>
          </li>
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Floor plans</a>
          </li>
        </ul>
      </li>

      <li role="none">
        <a role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" tabindex="0">Collections</a>
        <ul role="menu" aria-label="Collections">
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Ulysses S. Grant Presidential Collection</a>
          </li>
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Frank and Virginia Williams Collection of Lincolniana</a>
          </li>
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Congressional and Political Research Center</a>
          </li>
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Special Collections</a>
          </li>
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Digitla Collections</a>
          </li>
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Exhibits</a>
          </li>
        </ul>
      </li>

      <li role="none">
        <a role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" tabindex="0">Services</a>
        <ul role="menu" aria-label="Services">
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Overview</a>
          </li>
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Reserve a room</a>
          </li>
        </ul>
      </li>

      <li role="none">
        <a role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" tabindex="0">Workshops</a>
        <ul role="menu" aria-label="Workshops">
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Overview</a>
          </li>
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Request a custom workshop</a>
          </li>
          <li role="none">
            <a  role="menuitem" href="#"tabindex="-1">Ues existing workshop in you class</a>
          </li>
        </ul>
      </li>

      <li role="none">
        <a role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" tabindex="0">Help</a>
        <ul role="menu" aria-label="Help">
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Overview</a>
          </li>
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Research</a>
          </li>
          <li role="none">
            <a role="menuitem" href="#" tabindex="-1">Visting</a>
          </li>
        </ul>
      </li>


  </ul>
</nav>
<script type="text/javascript">
  var menubar = new Menubar(document.getElementById('menubar1'));
  menubar.init();
</script>