<h2>About the collection</h2>
<p>The Frank and Virginia Williams Collection of Lincolniana represents a lifetime of collecting documents, books, artifacts, ephemera, philately, numismatics, paintings, and statuary related to the life of Abraham Lincoln, sixteenth President of the United States of America, and the Civil War in general.</p>

<div class="col-12 col-lg-6 float-right">
    <figure class="border p-2 mx-2">
        <img alt="{{ field_image_inset_alt }}" src="{{ field_image_inset }}">
        <figcaption>{{ field_image_inset_alt }}</figcaption>
    </figure>
</div>

<p>Frank Williams, retired Chief Justice of the Rhode Island Supreme Court, began his collection as a child and has added to it all his life. In 2017, he and Virginia Williams donated the collection (previously housed at their home in Hope Valley, Rhode Island) to Mississippi State University. In 2017, Frank and Virginia Williams donated their Lincolniana Collection to Mississippi State University.</p>

<p>The late David M. Rich (cataloger at Brown University) and Alfred Calabreta (Curator of Collections at Mystic Seaport, the Museum of America and the Sea) began cataloging and inventorying the collection in the mid-1980s. Mr. Rich and MSU Libraries faculty and staff have cataloged the book and pamphlet collections to Library of Congress standards. Mr. Calabreta inventoried the objects and ephemera.</p>