<nav id="main-menu-lib" class="main-menu navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav msulib-sans disclosure-nav">
      <li class="nav-item">
        <button class="nav-link dropdown-toggle" aria-controls="id_find_menu" aria-expanded="false">Find &amp; Borrow</button>
        <div id="id_find_menu" class="dropdown-menu">
            <div class="row p-2">
                <div class="col-sm-4">
                    <h3 class="h4">Materials</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#mythical-page-content">Books</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">Articles</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">Journals</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">Newspapers</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">Government Documents</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">Primary Sources</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">Media</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">Course Reserves</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 class="h4">Search Tools</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#mythical-page-content">Online Catalog</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">EBSCO Discovery</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">E-Journal Portal</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">Databases A-to-Z</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">Special Collections</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">Digital Collections</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">Scholars Junction</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">Theses and Dissertations</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 class="h4">Help &amp; Information</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#mythical-page-content">Ask-a-librarian</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">Access Services</a>
                        <a class="list-group-item p-0" href="#mythical-page-content">Research Services</a>
                    </div>
                </div>
            </div>
        </div>
      </li>

      <li class="nav-item">
        <button class="nav-link dropdown-toggle" aria-controls="id_services_menu" aria-expanded="false">Teach &amp; Learn</button>
        <div id="id_services_menu" class="dropdown-menu">
            <div class="row p-2">
                <div class="col-sm-4">
                    <h3 class="h4">Teaching</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#">Embed librarian in Canvas</a>
                        <a class="list-group-item p-0" href="#">Register class for a workshop</a>
                        <a class="list-group-item p-0" href="#">Request a course guide</a>
                        <a class="list-group-item p-0" href="#">Request a custom workshop</a>
                        <a class="list-group-item p-0" href="#">Log in to Canvas</a>
                        <a class="list-group-item p-0" href="#">Course Reserves</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 class="h4">Learning</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#">ETD Submission Process</a>
                        <a class="list-group-item p-0" href="#">ETD Templates</a>
                        <a class="list-group-item p-0" href="#">Mobile Writing Center</a>
                        <a class="list-group-item p-0" href="#">Learn about copyright and fair use</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 class="h4">Writing</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#">Mobile Writing Center</a>
                        <a class="list-group-item p-0" href="#">Scholarly Communication Services</a>
                        <a class="list-group-item p-0" href="#">Citation Formats</a>
                    </div>
                </div>
            </div>
        </div>
      </li>

      <li class="nav-item">
        <button class="nav-link dropdown-toggle" aria-controls="id_locations_menu" aria-expanded="false">Services</button>
        <div id="id_locations_menu" class="dropdown-menu">
            <div class="row p-2">
                <div class="col-sm-4">
                    <h3 class="h4">Services For:</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#">Alumni</a>
                        <a class="list-group-item p-0" href="#">Distance Learners</a>
                        <a class="list-group-item p-0" href="#">Faculty and Instructors</a>
                        <a class="list-group-item p-0" href="#">Graudate Students</a>
                        <a class="list-group-item p-0" href="#">Library Employees</a>
                        <a class="list-group-item p-0" href="#">Scholars</a>
                        <a class="list-group-item p-0" href="#">Undergraduate Students</a>
                        <a class="list-group-item p-0" href="#">Users with Disabilities</a>
                        <a class="list-group-item p-0" href="#">Visitors</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 class="h4">Reserve a Space</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#">Reserve a studio</a>
                        <a class="list-group-item p-0" href="#">Reserve a classroom</a>
                        <a class="list-group-item p-0" href="#">Reserve a study room</a>
                        <a class="list-group-item p-0" href="#">Reserve a presentation room</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 class="h4">Technology</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#">Document Services</a>
                        <a class="list-group-item p-0" href="#">Network Connectivity</a>
                        <a class="list-group-item p-0" href="#">3D Printing</a>
                        <a class="list-group-item p-0" href="#">Use a computer</a>
                        <a class="list-group-item p-0" href="#">CAVS Mixed Reality studio</a>
                    </div>
                </div>
            </div>
        </div>
      </li>

      <li class="nav-item">
        <button class="nav-link dropdown-toggle" aria-controls="id_locations_menu" aria-expanded="false">Locations</button>
        <div id="id_locations_menu" class="dropdown-menu">
            <div class="row p-2">
                <div class="col-sm-4">
                    <h3 class="h4">Locations</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#">Libraries</a>
                        <a class="list-group-item p-0" href="#">Museums</a>
                        <a class="list-group-item p-0" href="#">Centers and Service Areas</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 class="h4">Rooms &amp; Spaces</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#">Conference Rooms</a>
                        <a class="list-group-item p-0" href="#">Classrooms</a>
                        <a class="list-group-item p-0" href="#">Food and Drink</a>
                        <a class="list-group-item p-0" href="#">Meeting Rooms</a>
                        <a class="list-group-item p-0" href="#">Studios</a>
                        <a class="list-group-item p-0" href="#">Study Areas</a>
                    </div>
                </div>
            </div>
                <div class="col-sm-4"></div>
        </div>
      </li>

      <li class="nav-item">
        <button class="nav-link dropdown-toggle" aria-controls="id_collections_menu" aria-expanded="false">Collections</button>
        <div id="id_collections_menu" class="dropdown-menu">
            <div class="row p-2">
                <div class="col-sm-4">
                    <h3 class="h4">MSU Libraries Collections</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#">General Collections</a>
                        <a class="list-group-item p-0" href="#">Special Collections</a>
                        <a class="list-group-item p-0" href="#">Digital Collections</a>
                        <a class="list-group-item p-0" href="#">Scholars Junction</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 class="h4">Other Unique Collections</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#">Congressional and Political Research Center</a>
                        <a class="list-group-item p-0" href="#">Frank and Virginia Williams Collection of Lincolniana</a>
                        <a class="list-group-item p-0" href="#">Ulysses S. Grant Presidential Library</a>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
      </li>

      <li class="nav-item">
        <button class="nav-link dropdown-toggle" aria-controls="id_information_menu" aria-expanded="false">About</button>
        <div id="id_information_menu" class="dropdown-menu">
            <div class="row p-2">
                <div class="col-sm-4">
                    <h3 class="h4">Administration</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#">Overview</a>
                        <a class="list-group-item p-0" href="#">Organizational Chart</a>
                        <a class="list-group-item p-0" href="#">Departments</a>
                        <a class="list-group-item p-0" href="#">Partners</a>
                        <a class="list-group-item p-0" href="#">Missions Statement</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 class="h4">Information</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#">Hours</a>
                        <a class="list-group-item p-0" href="#">Events</a>
                        <a class="list-group-item p-0" href="#">Directory</a>
                        <a class="list-group-item p-0" href="#">Floor Plans</a>
                        <a class="list-group-item p-0" href="#">Food and Drink</a>
                        <a class="list-group-item p-0" href="#">Accessibility</a>
                        <a class="list-group-item p-0" href="#">Diversity</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 class="h4">Employees</h3>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item p-0" href="#">Jobs</a>
                        <a class="list-group-item p-0" href="#">Services for Employees</a>
                    </div>
                </div>
            </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" id="helpLink"><span class="fas fa-question-circle" role="presentation"></span> Help</a>
      </li>
    </ul>
  </div>
</nav>