<nav id="main-menu-lib" class="main-menu navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav msulib-sans">
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="findLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Find</a>
            <div class="dropdown-menu" aria-labelledby="findLink">
                <div class="row p-2">
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Materials</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Search Tools</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">How To</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="getLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get</a>
            <div class="dropdown-menu" aria-labelledby="getLink">
                <div class="row p-2">
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Materials at MSU Libraries</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Materials from beyond MSU Libraries</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Lending and Delivery</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="locationsLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Locations</a>
            <div class="dropdown-menu" aria-labelledby="locationsLink">
                <div class="row p-2">
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Libraries</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                        <h3 class="h4 mb-1">Museums and Galleries</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Centers and Service Areas</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Rooms</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Floor Plans</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="servicesLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
            <div class="dropdown-menu" aria-labelledby="servicesLink">
                <div class="row p-2">
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Research and Teaching</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Spaces and Technology</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Services For:</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="collectionsLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Collections</a>
            <div class="dropdown-menu" aria-labelledby="collectionsLink">
                <div class="row p-2">
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">General Collections</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Special Collections</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Digital Collections</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Other Unique Collections</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="informationLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Information</a>
            <div class="dropdown-menu" aria-labelledby="informationLink">
                <div class="row p-2">
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Administration</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="h4 mb-1">Information</h3>
                        <div class="list-group list-group-flush">
                            <a class="list-group-item p-0" href="#">Action</a>
                            <a class="list-group-item p-0" href="#">Another action</a>
                            <a class="list-group-item p-0" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="helpLink"><span class="fas fa-question-circle" role="presentation"></span> Help</a>
        </li>
    </ul>
  </div>
</nav>