<nav role="navigation" aria-labelledby="block-sidebarnav-menu" id="block-sidebarnav" class="contextual-region block block-menu navigation menu--sidebar-nav">
    <h2 class="visually-hidden" id="block-sidebarnav-menu">{{ field_menu_title }}</h2>
    <div class="menu--sidebar-nav nav list-group">

        <a href="javascript:void(0);" class="list-group-item list-group-item-action list-group-item-info local nav-link">Overview</a>

        <a href="javascript:void(0);" class="list-group-item list-group-item-action list-group-item-info local nav-link">Child Link</a>

        <a href="javascript:void(0);" class="list-group-item list-group-item-action list-group-item-info local nav-link active is-active">Current Link</a>

        <a href="javascript:void(0);" class="list-group-item list-group-item-action list-group-item-info local nav-link">Child Link</a>

        <a href="javascript:void(0);" class="list-group-item list-group-item-action list-group-item-info local nav-link">Child Link</a>

        <a href="javascript:void(0);" class="list-group-item list-group-item-action list-group-item-info local nav-link external">External Link<div class="font-size-80 opacity-50 position-absolute" style="top: 10px; right: 10px;"><span class="fas fa-external-link-alt"></span></div></a>
                    
    </div>
</nav>