<div class="region region-highlighted">
    <div data-drupal-messages-fallback="" class="hidden"></div>
</div>

<div class="region region-content">
    <div id="block-lib-theme-content" class="block block-system block-system-main-block">
    	<div class="view view-news view-id-news view-display-id-page_1 js-view-dom-id-3190067a63e0174359e77af5e5daf9d78045550470325eba14e318a86e32deae">
            <div class="view-header">
                <h1 class="mb-1">News</h1>
            </div>
            <div class="view-content">
                <div class="views-view-grid horizontal cols-1 clearfix">

                    <div class="row">
                        <div class="col-12">
                            <a href="https://www.msstate.edu/newsroom/article/2020/11/mississippi-delta-community-college-joins-mississippi-library-partnership" class="external">
                                <div class="card card-hover m-1 p-1 bg-light text-dark small">
                                    <div class="card-body p-1">
                                        <div class="m-0">November 18, 2020 - MSU Newsroom</div>
                                        <div class="h5 m-0">Mississippi Delta Community College joins Mississippi Library Partnership <span class="fas fa-external-link-alt" aria-hidden="true" role="presentation"></span></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <a href="https://www.msstate.edu/newsroom/article/2020/10/celebrating-hispanic-heritage-msu-exhibit-through-mid-october" class="external">
                                <div class="card card-hover m-1 p-1 bg-light text-dark small">
                                    <div class="card-body p-1">
                                        <div class="m-0">October 2, 2020</div>
                                        <div class="h5 m-0">‘Celebrating Hispanic Heritage’ at MSU on exhibit through mid-October <span class="fas fa-external-link-alt" aria-hidden="true" role="presentation"></span></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <a href="#" class="local">
                                <div class="card card-hover m-1 p-1 bg-light text-dark small">
                                    <div class="card-body p-1">
                                        <div class="m-0">August 26, 2020</div>
                                        <div class="h5 m-0">2020 ICPSR Data Fair: Data in Real Life</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <a href="#" class="local">
                                <div class="card card-hover m-1 p-1 bg-light text-dark small">
                                    <div class="card-body p-1">
                                        <div class="m-0">August 12, 2020</div>
                                        <div class="h5 m-0">Votes for Women! A Centennial Celebration of the Women’s Suffrage Movement in America</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <a href="https://www.msstate.edu/newsroom/article/2020/08/msu-instructional-guide-supports-faculty-resources-innovative-teaching" class="external">
                                <div class="card card-hover m-1 p-1 bg-light text-dark small">
                                    <div class="card-body p-1">
                                        <div class="m-0">August 4, 2020 - MSU Newsroom</div>
                                        <div class="h5 m-0">MSU instructional guide supports faculty with resources for innovative teaching methods <span class="fas fa-external-link-alt" aria-hidden="true" role="presentation"></span></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <a href="#" class="local">
                                <div class="card card-hover m-1 p-1 bg-light text-dark small">
                                    <div class="card-body p-1">
                                        <div class="m-0">July 8, 2020</div>
                                        <div class="h5 m-0">Mississippi Land and Literature at Cotesworth Culture and Heritage Center</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <a href="https://www.msstate.edu/newsroom/article/2020/06/legendary-msu-dean-frances-coleman-retires-after-51-year-career" class="external">
                                <div class="card card-hover m-1 p-1 bg-light text-dark small">
                                    <div class="card-body p-1">
                                        <div class="m-0">June 15, 2020 - MSU Newsroom</div>
                                        <div class="h5 m-0">Legendary MSU Dean Frances Coleman retires after a 51-year career that transformed the university’s libraries and collections <span class="fas fa-external-link-alt" aria-hidden="true" role="presentation"></span></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <a href="#" class="local">
                                <div class="card card-hover m-1 p-1 bg-light text-dark small">
                                    <div class="card-body p-1">
                                        <div class="m-0">June 9, 2020</div>
                                        <div class="h5 m-0">Create dynamic content for online instruction in the MaxxSouth Digital Media Center</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <a href="https://www.msstate.edu/newsroom/article/2020/06/msu-libraries-seeking-submissions-new-covid-19-digital-archive" class="external">
                                <div class="card card-hover m-1 p-1 bg-light text-dark small">
                                    <div class="card-body p-1">
                                        <div class="m-0">June 5, 2020 - MSU Newsroom</div>
                                        <div class="h5 m-0">MSU Libraries seeking submissions for new COVID-19 digital archive <span class="fas fa-external-link-alt" aria-hidden="true" role="presentation"></span></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                                <a href="https://www.msstate.edu/newsroom/article/2020/06/msu-libraries-updates-operational-plans" class="external">
                                    <div class="card card-hover m-1 p-1 bg-light text-dark small">
                                        <div class="card-body p-1">
                                            <div class="m-0">June 5, 2020 - MSU Newsroom</div>
                                            <div class="h5 m-0">MSU Libraries updates operational plans <span class="fas fa-external-link-alt" aria-hidden="true" role="presentation"></span></div>
                                        </div>
                                    </div>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
  
            <nav role="navigation" aria-labelledby="pagination-heading">
                <h4 id="pagination-heading" class="sr-only">Pagination</h4>
                <ul class="pagination js-pager__items">
                    <li class="page-item active">
                        <a class="page-link local" href="#" title="Go to page 7">7<span class="sr-only">Page</span></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link local" href="#" title="Go to page 8">8<span class="sr-only">Page</span></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link local" href="#" title="Go to page 9">9<span class="sr-only">Page</span></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link local" href="#" title="Go to next page" rel="next">
                            <span class="sr-only">Next</span>
                            <span aria-hidden="true">Next ›</span>
                        </a>
                    </li>
      
                    <li class="page-item">
                        <a class="page-link local" href="#" title="Go to last page">
                            <span class="sr-only">Last</span>
                            <span aria-hidden="true">Last »</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="view-footer">
                <div class="mb-4"></div>
            </div>
        </div>
    </div>
</div>